.handler-bar {

    width: 400px;
    background-color: white;
    display: flex;
    height: 100px;
    border-radius: 80px;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

}


.handler-bar, .fa.solid {

    font-size: 1.8rem;
    color: rgb(113, 203, 255);

}