*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    background-color: rgb(2, 0, 17);
    height: 100vh;

}



.container {

    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    

}
.list-items {

    display: flex; 
    overflow-x: auto; 
    white-space: nowrap; 
    scrollbar-color: transparent transparent;
    user-select: none;
    width: 100%; 
    height: auto; 

}

.list-items:active {
    cursor: grabbing;
  }

.list-items::-webkit-scrollbar {

    background-color: transparent;
}