

.wrapper {
    display: flex;
    max-width: 1000px;
    flex-direction: row;
    top: 100px;
    font-family: 'Roboto';
    justify-content: space-around;
    height: 80%;
    align-items: flex-end;
    margin-inline: auto;
    position: relative;
}

.film-card {

    display: flex;
}

.film-card-img {

    width: 100%;
    height: 450px;
    background-size: cover;
    aspect-ratio: 16 / 9;
    background-repeat: no-repeat;

}

.content {

    padding-inline: 50px;
    padding-top: 50px;

}

.director {

    font-family: "DIN Next Rounded LT W04 Medium";
    font-size: 1.3rem;

}

ul > li{

    list-style: none;
    color: white;

}

ul > li > h4 {

    font-size: 2.2rem;

}

ul > li > p {

    font-family: "DIN Next Rounded LT W04 Light";
    font-size: 1.2rem;
}