.list-items {

    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    align-items: center;
    scrollbar-color: transparent transparent;
    scroll-behavior: smooth;
    user-select: none;
    width: 90%;
    height: auto;
    margin-top: 50px;
    position: relative;
    margin-inline: auto;
    justify-self: center;

}

.list-items:active {
    cursor: grabbing;
  }

.list-items::-webkit-scrollbar {

    background-color: transparent;
}

footer{

    position: absolute;
    bottom: 0;

}